﻿
@model AarhusWebDevelopersNetwork.ViewModels.ContactForm

@if (TempData["Succes"] == null)
{

    using (Html.BeginUmbracoForm("HandleFormSubmit", "ContactFormSurface", new Object { }, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
            <div class="form-group">
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Subject" })
                    @Html.ValidationMessageFor(m => m.Subject)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Message" })
                    @Html.ValidationMessageFor(m => m.Message)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-success">Send message</button>
                </div>
            </div>
    }
}
else
{
    <p>Thank you for contacting us, we will be in touch soon!</p>
}