﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var memberService = ApplicationContext.Current.Services.MemberService;

    var membersActive = memberService.GetMembersByGroup("Active");
    var membersProspect = memberService.GetMembersByGroup("Prospects");
}
<div class="container">
    <h2>Active members</h2>
    @foreach (var member in membersActive)
    {

        string fullPath = member.GetValue("photo").ToString();
        string[] substrings = fullPath.Split(',');
        string srcString = substrings[2];
        string[] srcSubStrings = srcString.Split(':');
        string srcPath = srcSubStrings[1].Replace("\"", "");
        srcPath = srcPath.Replace("}", "");

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img class="img-responsive" src="@srcPath" />
                <div class="caption">
                    <h3>@(member.GetValue("firstname") + " " + member.GetValue("lastname"))</h3>
                    <strong>Address:</strong> @member.GetValue("address")<br />
                    @(member.GetValue("zip") + " "
                    + member.GetValue("city"))<br />
                    <strong>Mobile:</strong> @member.GetValue("mobile")<br />
                </div>
            </div>
        </div>
    }
</div>
<div class="container">
    <h2>Prospects</h2>
    <div>
        @foreach (var prospect in membersProspect)
        {
            <div class="well col-sm-4">
                @(prospect.GetValue("firstname") + " " + prospect.GetValue("lastname")) - Mobile: @prospect.GetValue("mobile")
            </div>
        }
    </div>
</div>
