﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc").Take(3); }

<div>
    @foreach (var item in selection)
    {
        <div class="text-muted">@item.CreateDate</div>
        <div class="well"><strong>@item.Name:</strong> @item.messageMessage</div>
    }
</div>