﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc"); }

<div class="row">
    @foreach (var item in selection)
    {
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="@item.GetCropUrl("articleImage", "Thumbnail")" />
                <div class="caption">
                    <h3>@item.Name</h3>
                    <p>
                        <a href="@item.Url" class="btn btn-primary">Read more</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>