﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ var selection = CurrentPage.Site().FirstChild("projectsMain").Children.Where("Visible").OrderBy("Name"); }

@* OrderBy() takes the property to sort by and optionally order desc/asc *@
<div class="row">
    @foreach (var item in selection)
    {
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="@item.GetCropUrl("projectImage", "Thumbnail")" />
                <div class="caption">
                    <h3>@item.Name</h3>
                    <p><strong>Status: </strong>@item.projectStatus</p>
                    <p>
                        <a href="@item.Url" class="btn btn-primary">Read more</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
