﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var loginModel = new LoginModel();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}

@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()

<div class="container">

    @using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin"))
    {
        <fieldset>
            <legend>Login</legend>

            @Html.ValidationSummary("loginModel", true)

            <div class="col-sm-6">
                @Html.TextBoxFor(m => loginModel.Username, new { @class = "form-control", placeholder = "Name" })
                @Html.ValidationMessageFor(m => loginModel.Username)
            </div>
            <div class="col-sm-6">
                @Html.PasswordFor(m => loginModel.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => loginModel.Password)
            </div>
            <div class="col-sm-6">
                <button style="margin-top: 15px;" class="btn btn-success">Login</button>
            </div>
        </fieldset>

    }
</div>
