﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the css class "current".
*@
@{
    var selection = CurrentPage.Site().Children.Where("Visible");
    var projectDropdownCompleted = CurrentPage.Site().FirstChild("projectsMain").Children.Where("Visible && projectStatus.Contains(\"Completed\")").OrderBy("Name");
    var root = CurrentPage.AncestorOrSelf(1);
    var childrens = root.Children.Where("Visible");
}

<ul class="nav navbar-nav">
    <li class="@(CurrentPage.Name == root.Name ? "active" : null)">
        <a href="/">@root.Name</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <br />
            <li class="text-center"><a href="/projects">All projects</a></li>
            <br />
            <p class="text-center"><strong>Completed projects</strong></p>
            @foreach (var project in projectDropdownCompleted)
            {
                <li class="@(project.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
                    <a href="@project.Url">@project.Name</a>
                </li>
            }
        </ul>
    </li>
    @foreach (var item in childrens)
    {
        <li class="@(item.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
            <a href="@item.Url">@item.Name</a>
        </li>
    }
</ul>