﻿
@model AarhusWebDevelopersNetwork.ViewModels.Message

@using(Html.BeginUmbracoForm<AarhusWebDevelopersNetwork.Controllers.MessageBoardSurfaceController>
    ("HandleFormSubmit") )
{

        <div class="form-group">
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                @Html.TextAreaFor(m => m.MessageText, new { @class = "form-control", placeholder = "Message" })
                @Html.ValidationMessageFor(m => m.MessageText)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-success">Send message</button>
            </div>
        </div>
    }
