body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.content-header {
    color: #fff;
    padding: 125px 75px;
    background-repeat: no-repeat;
    background-size: auto;
}

.content-image img {
  max-width: 500px;
  max-height: 300px;
}