﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        @Umbraco.Field("contactPageText")
    </header>
</div>
<div class="container">
    @Html.Action("Index", "ContactFormSurface")
</div>