﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Homepage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        @Umbraco.Field("homepageText")
        <p>
            <a href="/projects" class="btn btn-primary btn-large">Check our Projects</a>
        </p>
    </header>
    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Latest projects</h3>
        </div>
    </div>
    @Html.Partial("listProjectsFrontpage")
</div>

