﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.MessageBoard>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        @Umbraco.Field("messageBoardText")
    </header>
</div>
<div class="container">
	<div class="col-sm-6">
    @Html.Action("Index", "MessageBoardSurface")
	</div>
	<div class="col-sm-6">
	@Html.Partial("displayMessages")
	</div>
</div>