﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsMain>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        @Umbraco.Field("projectsMainText")
    </header>
</div>
<div class="container">
	@Html.Partial("listProjects")
</div>